<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category 4</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://kit.fontawesome.com/5c1299d2f2.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- sidebar start -->
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
      </label>
            <ul>
                <li><a href="{{ url_for ('welcome') }}">Welcome</a></li>
                <li><a href="{{ url_for ('page_1') }}">1. Learning approach</a></li>
                <li><a href="{{ url_for ('page_2') }}">2. Learning environment</a></li>
                <li><a href="{{ url_for ('page_3') }}">3. Competence development </a></li>
                <li><a href="{{ url_for ('page_4') }}">4. Objectives for the future</a></li>
                <li><a href="{{ url_for ('page_5') }}">5. Wellbeing: sef-efficacy</a></li>
                <li><a href="{{ url_for ('page_6') }}">6. Wellbeing: psychological flexibility</a></li>
                <li><a href="{{ url_for ('page_7') }}">7. Wellbeing: level of burnout</a></li>
                <li><a href="{{ url_for ('page_8') }}">8. Wellbeing: self-compassion</a></li>
            </ul>
    </nav>
    <!-- sidebar end -->
    <div class="container">
        <div class="header">
            <div draggable="false" class="learnWellLogo">
                <img src="{{ url_for('static', filename='learnWellLogo.png') }}">
            </div>
            <h1>Category 4</h1>
        </div>
        <div class="text">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero accusantium ullam quo placeat iusto cupiditate corporis quidem eaque incidunt delectus optio minus, laboriosam quos tempore obcaecati labore impedit atque voluptatibus.<br>
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus laboriosam tempore sequi porro! Doloremque neque quos eum inventore, culpa dicta totam quidem modi ratione temporibus, commodi minima quo quod necessitatibus!<br>
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ipsum assumenda velit cum commodi, ut culpa quidem at. Cupiditate ducimus at tempora! Error dicta qui autem deserunt beatae ad fugiat!<br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias dolorem sunt explicabo voluptate ipsum neque reprehenderit quis minus fugit maxime officia asperiores molestiae enim corporis, non culpa sequi error minima.</p>
        </div>
        <div class="overview">
            <div class="statistics">
                <div id="item-1">Category 4</div>
            </div>
            <p class="custom-text">
                <b>Objectives for the future </b><br>
                <br>
                {{category_message4}}</p>
       
            </div>

            <div class="next-back-buttons">
                <a href="{{ url_for('page_3') }}" class="back-page-button">Back</a>
                <a href="{{ url_for('page_5') }}" class="next-page-button">Next Page</a>
                </div>

        
    </div>
    
</body>
</html>