<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Feedback | Learn Well 2023 | Powered by Group 4</title>
    <!--Style-->
    <link rel="stylesheet" href="{{ url_for('static', filename='functionAndLayout/style.css') }}">
    <!--Script to select a div to display-->
    <script src="{{ url_for('static', filename='functionAndLayout/displayDiv.js') }}"></script>
    <!--Script to display the content of the feedback stored in .txt files-->
    <script src="{{ url_for('static', filename='functionAndLayout/displayFileContent.js') }}"></script>
    <!--Script for the Chart-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
</head>

<body>
    <div class="container">

        <div class="header">
            <div draggable="false" class="learnWellLogo">
                <img src="{{ url_for('static', filename='functionAndLayout/learnWellLogo.png') }}">
            </div>
        </div>
    <center>
        <div id="welcoming_div">

                <h1>Learn Well Project - Group 4</h1>
                <h3><i>henkilökohtainen palautteesi | your personal feedback</i></h3>
                <p id="welcoming_p"></p>
                <!--IMPORTANT this script must come after the above p element with id="welcoming"-->
                <script id="welcoming_script">
                    // Retrieve the user_name passed from Python
                    var user_name = "{{ user_name }}";
                    // Display the user_name in the element with id="welcoming" above
                    var userNameDisplay = document.getElementById('welcoming_p');
                    userNameDisplay.innerText = "Welcome " + user_name + ".\nHere's a personalized feedback based on the survey you gave.";
                </script>
            
        </div>

        <!--Select a Category's Language block to display-->
        <div>
            <!--The selector to select a Category's Language block to display-->
            <div> <!--IMPORTANT ! NOT redundance ! keep the div structure-->
                <div> <!--IMPORTANT ! NOT redundance ! keep the div structure-->
                    <div> <!--IMPORTANT ! NOT redundance ! keep the div structure-->
                        <label for="selectDiv">Valitse kieli | Select a language</label>
                        <select id="selectDiv" onchange="displaySelectedDiv()">
                            <option value="div_fi">Suomi</option>
                            <option value="div_en">English</option>
                        </select>
                    </div> <!--IMPORTANT ! NOT redundance ! keep the div structure-->
                </div> <!--IMPORTANT ! NOT redundance ! keep the div structure-->

                <div id="div_fi" class="category_block">
                    <!-- Content for Category 7 -->
                    <h3>Kategoria 7</h3>
                    <p>Luokan 7 kuvaus.</p>
                    <div>
                        <script>
                            var elementId_overview_fi = "overview_7"
                            var overviewFilePath_fi = "{{overviewResponse_url}}" + "overview_7.txt"
                            readFile(elementId_overview_fi, overviewFilePath_fi);
                        </script>
                        <p id="overview_7"></p>
                    </div>

                    <div class="chart_7_fi">
                        <canvas id="myChart_fi" width="40%" height="10%"></canvas>
                    </div>

                    <h3>Henkilökohtainen palaute 1</h3>
                    <div>
                        <script>
                            var feedback_fi = "{{category_message7}}"
                            var elementId_fi = "Category_fi"
                            var personalizedFilePath_fi = "{{personalizedResponse_url}}" + "7_fi_" +  feedback_fi + ".txt"
                            readFile(elementId_fi, personalizedFilePath_fi);
                        </script>
                        <p id="Category_fi"></p>
                    </div>

                </div>

                <div id="div_en" class="category_block">
                    <!-- Content for Category 7 -->
                    <h3>Category 7</h3>
                    <p>Description of of Category 7.</p>
                    <div>
                        <script>
                            var elementId_overview_en = "overview_7"
                            var overviewFilePath_en = "{{overviewResponse_url}}" + "overview_7.txt"
                            readFile(elementId_overview_en, overviewFilePath_en);
                        </script>
                        <p id="overview_7"></p>
                    </div>
                    <div class="chart_7_en">
                        <canvas id="myChart_en" width="40%" height="10%"></canvas>
                    </div>

                    <h3>Personalized feedback 7</h3>
                    <div>
                        <script>
                            var feedback_en = "{{category_message7}}";
                            var elementId_en = "Category_en"
                            var personalizedFilePath_en = "{{personalizedResponse_url}}" + "7_en_" + feedback_en + ".txt"
                            readFile(elementId_en, personalizedFilePath_en);
                        </script>
                        <p id="Category_en"></p>
                    </div>
                </div>

            </div> <!--IMPORTANT ! NOT redundance ! keep the div structure-->

            <!--CHART-->
            <div class="statistics">
                <script>
                    Chart.defaults.doughnutLabels = Chart.helpers.clone(Chart.defaults.doughnut);

                    var helpers = Chart.helpers;
                    var defaults = Chart.defaults;

                    Chart.controllers.doughnutLabels = Chart.controllers.doughnut.extend({
                        updateElement: function (arc, index, reset) {
                            var _this = this;
                            var chart = _this.chart,
                                chartArea = chart.chartArea,
                                opts = chart.options,
                                animationOpts = opts.animation,
                                arcOpts = opts.elements.arc,
                                centerX = (chartArea.left + chartArea.right) / 2,
                                centerY = (chartArea.top + chartArea.bottom) / 2,
                                startAngle = opts.rotation, // non reset case handled later
                                endAngle = opts.rotation, // non reset case handled later
                                dataset = _this.getDataset(),
                                circumference = reset && animationOpts.animateRotate ? 0 : arc.hidden ? 0 : _this.calculateCircumference(dataset.data[index]) * (opts.circumference / (2.0 * Math.PI)),
                                innerRadius = reset && animationOpts.animateScale ? 0 : _this.innerRadius,
                                outerRadius = reset && animationOpts.animateScale ? 0 : _this.outerRadius,
                                custom = arc.custom || {},
                                valueAtIndexOrDefault = helpers.getValueAtIndexOrDefault;

                            helpers.extend(arc, {
                                // Utility
                                _datasetIndex: _this.index,
                                _index: index,

                                // Desired view properties
                                _model: {
                                    x: centerX + chart.offsetX,
                                    y: centerY + chart.offsetY,
                                    startAngle: startAngle,
                                    endAngle: endAngle,
                                    circumference: circumference,
                                    outerRadius: outerRadius,
                                    innerRadius: innerRadius,
                                    label: valueAtIndexOrDefault(dataset.label, index, chart.data.labels[index])
                                },

                                draw: function () {
                                    var ctx = this._chart.ctx,
                                        vm = this._view,
                                        sA = vm.startAngle,
                                        eA = vm.endAngle,
                                        opts = this._chart.config.options;

                                    var labelPos = this.tooltipPosition();
                                    var segmentLabel = vm.circumference / opts.circumference * 100;

                                    ctx.beginPath();

                                    ctx.arc(vm.x, vm.y, vm.outerRadius, sA, eA);
                                    ctx.arc(vm.x, vm.y, vm.innerRadius, eA, sA, true);

                                    ctx.closePath();
                                    ctx.strokeStyle = vm.borderColor;
                                    ctx.lineWidth = vm.borderWidth;

                                    ctx.fillStyle = vm.backgroundColor;

                                    ctx.fill();
                                    ctx.lineJoin = 'bevel';

                                    if (vm.borderWidth) {
                                        ctx.stroke();
                                    }

                                    if (vm.circumference > 0.0015) { // Trying to hide label when it doesn't fit in segment
                                        ctx.beginPath();
                                        ctx.font = helpers.fontString(opts.defaultFontSize, opts.defaultFontStyle, opts.defaultFontFamily);
                                        ctx.fillStyle = "#190707";
                                        ctx.textBaseline = "top";
                                        ctx.textAlign = "center";

                                        // Round percentage in a way that it always adds up to 100%
                                        ctx.fillText(segmentLabel.toFixed() + "%", labelPos.x, labelPos.y);
                                    }
                                    //display in the center the total sum of all segments
                                    var total = dataset.data.reduce((sum, val) => sum + val, 0);
                                    //ctx.fillText('Total = ' + total, vm.x, vm.y - 20, 200);

                                    ctx.fillText('No burnout', vm.x - 300, vm.y + 50);
                                    ctx.fillText('Bad burnout', vm.x + 300, vm.y + 50);
                                }
                            });

                            var model = arc._model;
                            model.backgroundColor = valueAtIndexOrDefault(dataset.backgroundColor, index, arcOpts.backgroundColor);
                            model.hoverBackgroundColor = custom.hoverBackgroundColor ? custom.hoverBackgroundColor : valueAtIndexOrDefault(dataset.hoverBackgroundColor, index, arcOpts.hoverBackgroundColor);
                            model.borderWidth = custom.borderWidth ? custom.borderWidth : valueAtIndexOrDefault(dataset.borderWidth, index, arcOpts.borderWidth);
                            model.borderColor = custom.borderColor ? custom.borderColor : valueAtIndexOrDefault(dataset.borderColor, index, arcOpts.borderColor);

                            // Set correct angles if not resetting
                            if (!reset || !animationOpts.animateRotate) {
                                if (index === 0) {
                                    model.startAngle = opts.rotation;
                                } else {
                                    model.startAngle = _this.getMeta().data[index - 1]._model.endAngle;
                                }

                                model.endAngle = model.startAngle + model.circumference;
                            }

                            arc.pivot();
                        }
                    });

                    var config = {
                        type: 'doughnutLabels',
                        data: {
                            datasets: [{
                                data: [
                                    sum_data = '{{sum_of_burnout}}',
                                    40 - sum_data

                                ],
                                backgroundColor: (function () {

                                    var r, g, b;

                                    if (sum_data < 20) {
                                        // green to yellow
                                        r = Math.floor(255 * (sum_data / 20));
                                        g = 255;

                                    } else {
                                        // yellow to red
                                        r = 255;
                                        g = Math.floor(255 * ((20 - sum_data % 20) / 20));
                                    }
                                    b = 0;


                                    var color1 = 'rgb(' + r + ',' + g + ',' + b + ')';
                                    var color2 = 'rgba(50, 50, 100, 0.1)';

                                    return [color1, color2];

                                }

                                )(),
                            }],
                            labels: [
                                "Your score",
                                "Total"
                            ]
                        },
                        options: {
                            circumference: Math.PI,
                            rotation: 1.0 * Math.PI,
                            responsive: true,
                            legend: {
                                display: false,
                            },
                            title: {
                                display: true,
                                text: 'Your total burnout score'
                            },
                            animation: {
                                animateScale: true,
                                animateRotate: true
                            }
                        }
                    };

                    var ctx = document.getElementById("myChart_fi").getContext("2d");
                    window.upDownChart = new Chart(ctx, config);

                    var ctx = document.getElementById("myChart_en").getContext("2d");
                    window.upDownChart = new Chart(ctx, config);

                </script>
            </div>

            <div class="next-back-buttons">
                <a href="{{ url_for('welcome') }}" class="back-page-button">Back</a>
                <a href="{{ url_for('index') }}" class="next-page-button">Next Page</a>
            </div>
        </div>
    </center>
    </div>
</body>

</html>