<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category 7</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://kit.fontawesome.com/5c1299d2f2.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- sidebar start -->
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
      </label>
            <ul>
                <li><a href="{{ url_for ('welcome') }}">Welcome</a></li>
                <li><a href="{{ url_for ('page_1') }}">1. Learning approach</a></li>
                <li><a href="{{ url_for ('page_2') }}">2. Learning environment</a></li>
                <li><a href="{{ url_for ('page_3') }}">3. Competence development </a></li>
                <li><a href="{{ url_for ('page_4') }}">4. Objectives for the future</a></li>
                <li><a href="{{ url_for ('page_5') }}">5. Wellbeing: sef-efficacy</a></li>
                <li><a href="{{ url_for ('page_6') }}">6. Wellbeing: psychological flexibility</a></li>
                <li><a href="{{ url_for ('page_7') }}">7. Wellbeing: level of burnout</a></li>
                <li><a href="{{ url_for ('page_8') }}">8. Wellbeing: self-compassion</a></li>
            </ul>
    </nav>
    <!-- sidebar end -->
    <div class="container">
        <div class="header">
            <div draggable="false" class="learnWellLogo">
                <img src="{{ url_for('static', filename='learnWellLogo.png') }}">
            </div>
            <h1>Category 7</h1>
        </div>
        <div class="text">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero accusantium ullam quo placeat iusto
                cupiditate corporis quidem eaque incidunt delectus optio minus, laboriosam quos tempore obcaecati labore
                impedit atque voluptatibus.<br>
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus laboriosam tempore sequi porro!
                Doloremque neque quos eum inventore, culpa dicta totam quidem modi ratione temporibus, commodi minima
                quo quod necessitatibus!<br>
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ipsum assumenda velit cum commodi, ut
                culpa quidem at. Cupiditate ducimus at tempora! Error dicta qui autem deserunt beatae ad fugiat!<br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias dolorem sunt explicabo voluptate
                ipsum neque reprehenderit quis minus fugit maxime officia asperiores molestiae enim corporis, non culpa
                sequi error minima.
            </p>
        </div>
        <div class="overview">


            <div class="statistics">
                <canvas id="myChart" width="400" height="300"></canvas>

                <script>
                    Chart.defaults.doughnutLabels = Chart.helpers.clone(Chart.defaults.doughnut);

                    var helpers = Chart.helpers;
                    var defaults = Chart.defaults;

                    Chart.controllers.doughnutLabels = Chart.controllers.doughnut.extend({
                        updateElement: function (arc, index, reset) {
                            var _this = this;
                            var chart = _this.chart,
                                chartArea = chart.chartArea,
                                opts = chart.options,
                                animationOpts = opts.animation,
                                arcOpts = opts.elements.arc,
                                centerX = (chartArea.left + chartArea.right) / 2,
                                centerY = (chartArea.top + chartArea.bottom) / 2,
                                startAngle = opts.rotation, // non reset case handled later
                                endAngle = opts.rotation, // non reset case handled later
                                dataset = _this.getDataset(),
                                circumference = reset && animationOpts.animateRotate ? 0 : arc.hidden ? 0 : _this.calculateCircumference(dataset.data[index]) * (opts.circumference / (2.0 * Math.PI)),
                                innerRadius = reset && animationOpts.animateScale ? 0 : _this.innerRadius,
                                outerRadius = reset && animationOpts.animateScale ? 0 : _this.outerRadius,
                                custom = arc.custom || {},
                                valueAtIndexOrDefault = helpers.getValueAtIndexOrDefault;

                            helpers.extend(arc, {
                                // Utility
                                _datasetIndex: _this.index,
                                _index: index,

                                // Desired view properties
                                _model: {
                                    x: centerX + chart.offsetX,
                                    y: centerY + chart.offsetY,
                                    startAngle: startAngle,
                                    endAngle: endAngle,
                                    circumference: circumference,
                                    outerRadius: outerRadius,
                                    innerRadius: innerRadius,
                                    label: valueAtIndexOrDefault(dataset.label, index, chart.data.labels[index])
                                },

                                draw: function () {
                                    var ctx = this._chart.ctx,
                                        vm = this._view,
                                        sA = vm.startAngle,
                                        eA = vm.endAngle,
                                        opts = this._chart.config.options;

                                    var labelPos = this.tooltipPosition();
                                    var segmentLabel = vm.circumference / opts.circumference * 100;

                                    ctx.beginPath();

                                    ctx.arc(vm.x, vm.y, vm.outerRadius, sA, eA);
                                    ctx.arc(vm.x, vm.y, vm.innerRadius, eA, sA, true);

                                    ctx.closePath();
                                    ctx.strokeStyle = vm.borderColor;
                                    ctx.lineWidth = vm.borderWidth;

                                    ctx.fillStyle = vm.backgroundColor;

                                    ctx.fill();
                                    ctx.lineJoin = 'bevel';

                                    if (vm.borderWidth) {
                                        ctx.stroke();
                                    }

                                    if (vm.circumference > 0.0015) { // Trying to hide label when it doesn't fit in segment
                                        ctx.beginPath();
                                        ctx.font = helpers.fontString(opts.defaultFontSize, opts.defaultFontStyle, opts.defaultFontFamily);
                                        ctx.fillStyle = "#190707";
                                        ctx.textBaseline = "top";
                                        ctx.textAlign = "center";

                                        // Round percentage in a way that it always adds up to 100%
                                        ctx.fillText(segmentLabel.toFixed() + "%", labelPos.x, labelPos.y);
                                    }
                                    //display in the center the total sum of all segments
                                    var total = dataset.data.reduce((sum, val) => sum + val, 0);
                                    //ctx.fillText('Total = ' + total, vm.x, vm.y - 20, 200);

                                    ctx.fillText('No burnout', vm.x - 300, vm.y + 50);
                                    ctx.fillText('Bad burnout', vm.x + 300, vm.y + 50);
                                }
                            });

                            var model = arc._model;
                            model.backgroundColor = valueAtIndexOrDefault(dataset.backgroundColor, index, arcOpts.backgroundColor);
                            model.hoverBackgroundColor = custom.hoverBackgroundColor ? custom.hoverBackgroundColor : valueAtIndexOrDefault(dataset.hoverBackgroundColor, index, arcOpts.hoverBackgroundColor);
                            model.borderWidth = custom.borderWidth ? custom.borderWidth : valueAtIndexOrDefault(dataset.borderWidth, index, arcOpts.borderWidth);
                            model.borderColor = custom.borderColor ? custom.borderColor : valueAtIndexOrDefault(dataset.borderColor, index, arcOpts.borderColor);

                            // Set correct angles if not resetting
                            if (!reset || !animationOpts.animateRotate) {
                                if (index === 0) {
                                    model.startAngle = opts.rotation;
                                } else {
                                    model.startAngle = _this.getMeta().data[index - 1]._model.endAngle;
                                }

                                model.endAngle = model.startAngle + model.circumference;
                            }

                            arc.pivot();
                        }
                    });

                    var config = {
                        type: 'doughnutLabels',
                        data: {
                            datasets: [{
                                data: [
                                    sum_data = '{{sum_of_burnout}}',
                                    40 - sum_data

                                ],
                                backgroundColor: (function () {

                                    var r, g, b;

                                    if (sum_data < 20) {
                                        // green to yellow
                                        r = Math.floor(255 * (sum_data / 20));
                                        g = 255;

                                    } else {
                                        // yellow to red
                                        r = 255;
                                        g = Math.floor(255 * ((20 - sum_data % 20) / 20));
                                    }
                                    b = 0;


                                    var color1 = 'rgb(' + r + ',' + g + ',' + b + ')';
                                    var color2 = 'rgba(50, 50, 100, 0.1)';

                                    return [color1, color2];

                                }

                                )(),
                            }],
                            labels: [
                                "Your score",
                                "Total"
                            ]
                        },
                        options: {
                            circumference: Math.PI,
                            rotation: 1.0 * Math.PI,
                            responsive: true,
                            legend: {
                                display: false,
                            },
                            title: {
                                display: true,
                                text: 'Your total burnout score'
                            },
                            animation: {
                                animateScale: true,
                                animateRotate: true
                            }
                        }
                    };

                    var ctx = document.getElementById("myChart").getContext("2d");
                    window.upDownChart = new Chart(ctx, config);
                </script>
            </div>
            <p class="custom-text">
                <b>Wellbeing: level of burnout </b><br>
                <br>
                {{category_message7}}
            </p>

        </div>

        <div class="next-back-buttons">
            <a href="{{ url_for('page_6') }}" class="back-page-button">Back</a>
            <a href="{{ url_for('page_8') }}" class="next-page-button">Next Page</a>
        </div>


    </div>

</body>

</html>