<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="../static/functionAndLayout/style.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div draggable="false" class="learnWellLogo">
                <img src="../static/functionAndLayout/learnWellLogo.png" alt="Learnwell Logo">

                <center>
                    <h1>Learn well Project Group 4</h1>
                    <br>
                    <h2>Random Key Generator</h2>
                    <br>
                    <p>Copy your private key below and Paste to your Survey form:</p>
                    <br>
                </center>
            </div>
            <div>
                <center>
                    <strong>
                        <p id="randomString"></p>
                    </strong>
                    <script src="../static/functionAndLayout/getPrivateKey.js"></script>
                </center>
            </div>
        </div>
    </div>
</body>

</html>