<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Testing</title>
    <link rel="stylesheet" src="">
    <link rel="stylesheet" href="../static/sidebar.css">
</head>
<body>
    <div class="sidenav">
        <a href="#1">Category 1</a>
        <a href="#2">Category 2</a>
        <a href="#3">Category 3</a>
        <a href="#4">Category 4</a>
        <a href="#5">Category 5</a>
        <a href="#6">Category 6</a>
        <a href="#7">Category 7</a>
        <a href="#8">Category 8</a>

      </div>
      
</body>
</html>