<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Testing</title>
    <link rel="stylesheet" href="../static/sidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://kit.fontawesome.com/5c1299d2f2.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
      </label>
            <ul>
                <li><a href="#0">Welcome</a></li>
                <li><a href="#1">Learning approach</a></li>
                <li><a href="#2">Learning environment</a></li>
                <li><a href="#3">Competence development </a></li>
                <li><a href="#4">Objectives for the future</a></li>
                <li><a href="#5">Wellbeing: sef-efficacy</a></li>
                <li><a href="#6">Wellbeing: psychological flexibility</a></li>
                <li><a href="#7">Wellbeing: level of burnout</a></li>
                <li><a href="#8">Wellbeing: self-compassion</a></li>
            </ul>
    </nav>
</body>
</html>