<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <div class="header">
            <div draggable="false" class="learnWellLogo">
                <img src="{{ url_for('static', filename='learnWellLogo.png') }}" alt="Learnwell Logo">
            </div>
            <h1>Feedback Session (year)</h1>
        </div>
        <div class="text">
            <p>Welcome to the LearnWell feedback session!<br>
                <br>
                The session is organised together with the 1st year students, study counsellors, and researchers from
                the LearnWell team. The aim is to discuss together study-related well-being both from the students and
                the teaching/degree programme perspectives.<br>
                <br>
                Factor scores are computed as a mean value of its five-point Likert scale items (1 = totally disagree, 3
                = between, 5 = totally agree)<br>
                High value is the aim in self-efficacy, psychological flexibility and self-compassion. In other factors,
                the lower the value, the better the result.
            </p>
        </div>

        <div class="overview">
            <h2>OVERVIEW OF STUDENT’S STUDY-RELATED WELLBEING</h2>
            <div class="statistics">
                <div id="item-1">1</div>
                <div id="item-2">2</div>
                <div id="item-3">3</div>
                <div id="item-4">4</div>
                <div id="item-5">5</div>
                <div id="item-6">6</div>
                <div id="item-7">7</div>
                <div id="item-8">8</div>
            </div>
        </div>
        <a href="{{ url_for('page_1') }}" class="next-page-button">Next Page</a>
    </div>

</body>

</html>