body{
    font-family: "Helvetica", Sans-Serif;
    background-image: url('https://cdn.forms.office.net/forms/images/theme/colorful-pencils.png');
    background-color: transparent;
    background-color: #7E685C;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: auto;
    width: 50%;
    min-height: 100vh;
    padding-top: 2%;
}


.learnWellLogo{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

h1{
    font-size: 30px;
    text-align: center;
    font-weight: normal;
}

h2{
    font-size: 20px;
    text-align: center;
    font-weight: normal;
}

.container{
    background-color: white;
    opacity: 0.95;
    padding: 10px;
    border-radius: 5px;
    padding-bottom: 30px;
    padding-left:50px;
    padding-right:50px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text{
    margin-bottom: 20px;
}

.overview{
    /* border: 3px solid #ffcc80; */
    border-radius: 4px;
}

.custom-text{
  padding: 20px;
}

.statistics{
    display: flex;
    justify-content: center;  
    /* flex-flow: row wrap; */ 
    flex-direction: row; 
    flex-wrap: wrap; 
    align-content: center;
    text-align: center;

    height: 100%;
    padding: 15px;
    gap: 5px;
}

.statistics > div{
    border: 3px solid #ffcc80;
    border-radius: 4px;
    padding: 55px;
    width: 26%;
    margin: 10px;
  }

  .next-back-buttons{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
  }

  .back-page-button{
    background-color: rgb(255, 252, 247);
    border:2px solid  rgb(181, 108, 81);
    color:rgb(159, 88, 63);
    padding: 12px;
    text-align: center;
    font-size:16px;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 46px;
    width: 20%;
  }

  .back-page-button:hover{
    background-color: rgb(248, 244, 236);
    cursor: pointer;

  }

  .next-page-button{
    background-color: rgb(255, 252, 247);
    border:2px solid  rgb(181, 108, 81);
    color:rgb(159, 88, 63);
    padding: 12px;
    text-align: center;
    font-size:16px;
    border-radius: 4px;
    margin-left: auto;
    text-decoration: none;
    margin-top: 46px;
    width: 20%;
  }

  .next-page-button:hover{
    background-color: rgb(248, 244, 236);
    cursor: pointer;

  }


  /* @media only screen and (min-width: 600px) {
    For tablets:
    body{
      width: 100%;
      min-height: 50vh;
    }
  } */

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body{
      width: 90%;
      /* to remove the bars from the sides and make everything white, width should be 100% */
      background-attachment: scroll;
      
    }
  }
