<!DOCTYPE html>
<html>
<head>
    <title>Feedback result</title>
</head>
<body>
    <h1>Feedback result</h1>
    <p>for the leastest row (we can change whether it'll be the lastest row or identify the user somehow ):</p>
    <p> {{category_message1}} </p>
    <p> {{category_message2}} </p>
    <p> {{category_message3}} </p>
    <p> {{category_message4}} </p>
    <p> {{category_message5}} </p>
    <p> {{category_message6}} </p>
    <p> {{category_message7}} </p>
    <p> {{category_message8}} </p>
</body>
</html>