*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{
  font-family: "Helvetica", Sans-Serif;
  background-image: url('https://cdn.forms.office.net/forms/images/theme/colorful-pencils.png');
  background-color: transparent;
  background-color: #7E685C;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: auto;
  /* padding-top: 2%; */
}

nav{
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #4e3b38e8;
  overflow-x: hidden;
  padding-top: 20px;
}

ul{
  margin-left: 12px;
  text-decoration: none;
  list-style: none;
  font-size: 32px;
}

/* .sidenav {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #4e3b38e8;
    overflow-x: hidden;
    padding-top: 20px;
  } */
  
/* .sidenav a {
  padding: 12px 8px 8px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #f8e8e8;
  display: block;
}

.sidenav a:hover {
  color: #ccb0b0;
} */


nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 40px;
  margin: 0 5px;
}
nav ul li a{
  color: #f8e8e8;
  font-size: 17px;
  padding: 7px;
}

a.active,a:hover{
  color: #ccb0b0;
}

.checkbtn{
  z-index: 3;
  font-size: 36px;
  margin-left: 30px;
  float: left;
  display: none;
}

#check{
  display: none;
}



/* @media (max-width: 858px){
  .checkbtn{
    display: block;
  }

  .sidenav {
    width: 0;
  }

  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #4e3b38e8;
    top: 0;
    right: 0%;
    text-align: center;
    transition: all .5s;
  }

} */


@media (max-width: 858px){
  .checkbtn{
    display: block;
  }

  nav{
    height: 8vh;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #4e3b38e8;
    overflow-x: hidden;
    padding-top: 10px;
    font-size: 40px;
  }

  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #4e3b38;
    top: 8vh;
    left: -100%;
    margin-left: 0;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }

  #check:checked ~ ul{
    /* position: absolute; */
    z-index: 3;
    left: 0;
  }
}